@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.7;
}

body {
  font-family: "Nunito Sans", sans-serif;
  --clr-body-background: hsl(207, 26%, 17%);
  --clr-card-background: hsl(209, 23%, 22%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-input-text: hsl(0, 0%, 100%);
  background: var(--clr-body-background);
  color: var(--clr-font);
  font-size: 1.6rem;
}

.light {
  --clr-body-background: hsl(0, 0%, 98%);
  --clr-card-background: hsl(0, 0%, 100%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-input-text: hsl(0, 0%, 52%);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

img {
  max-width: 100%;
}

/* HEADER  */

header {
  background: var(--clr-card-background);
  padding: 2rem 2rem;
  display: flex;
  justify-content: space-between;
}

header a {
  font-weight: 800;
  font-size: 2rem;
}

button {
  cursor: pointer;
}

header button {
  background: var(--clr-card-background);
  color: var(--clr-text);
  border: none;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* MAIN */
main {
  padding: 3rem 2rem;
  /* set position relative for positioning modal  */
  position: relative;
}

/* search filter container  */

.search-filter-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* SEARCH FIELD  */
.search-field {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
  background: var(--clr-card-background);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 500px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.search-input {
  border: none;
  background: var(--clr-card-background);
  color: var(--clr-input-text);
  padding: 2rem 0;
  width: 100%;
  border-radius: 1rem;
  outline: none;
}

.search-input::placeholder {
  font-weight: 600;
}

i {
  color: var(--clr-text);
  font-size: 1.8rem;
}

/* FILTER  */

.custom-select {
  position: relative;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
}

select {
  background: var(--clr-card-background);
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  color: var(--clr-text);
  border: none;
}

/* Cards  */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
  margin-top: 4rem;
}

.card {
  display: inline-block;
  background: var(--clr-card-background);
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 4rem;
  color: var(--clr-text);
  cursor: pointer;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.2);
}

.card img {
  border-radius: 0.5rem 0.5rem 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card .content {
  padding: 0 2rem;
}

.country-info {
  font-weight: 600;
}

/* MODAL  */
.modal {
  padding: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--clr-body-background);
  color: var(--clr-text);
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.back-btn {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  background: var(--clr-card-background);
  color: var(--clr-text);
  border: none;
  padding: 0.5rem 2rem;

  border-radius: 0.3rem;
  font-size: inherit;
  font-weight: 300;
}

.modal.open {
  visibility: visible;
}

@media screen and (min-width: 768px) {
  /* MAIN */
  main {
    padding: 3rem 4rem;
  }
  /* search filter container  */

  .search-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
