@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Nunito Sans", sans-serif;
  --clr-body-background: hsl(207, 26%, 17%);
  --clr-card-background: hsl(209, 23%, 22%);
  --clr-text: hsl(0, 0%, 100%);
  --clr-input-text: hsl(0, 0%, 100%);
  background: var(--clr-body-background);
  color: var(--clr-font);
  font-size: 1.6rem;
}

.light {
  --clr-body-background: hsl(0, 0%, 98%);
  --clr-card-background: hsl(0, 0%, 100%);
  --clr-text: hsl(200, 15%, 8%);
  --clr-input-text: hsl(0, 0%, 52%);
}

a {
  text-decoration: none;
  color: var(--clr-text);
}

img {
  max-width: 100%;
}

/* HEADER  */

header {
  background: var(--clr-card-background);
  padding: 4rem 2rem;
  display: flex;
  justify-content: space-between;
}

header a {
  font-weight: 800;
}

button {
  cursor: pointer;
}

header button {
  background: var(--clr-card-background);
  color: var(--clr-text);
  border: none;
  font-weight: 600;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* MAIN */
main {
  padding: 3rem 2rem;
}

/* search filter container  */

.search-filter-container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/* SEARCH FIELD  */
.search-field {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-items: center;
  background: var(--clr-card-background);
  border-radius: 0.5rem;
  width: 100%;
  max-width: 500px;
}

.search-input {
  border: none;
  background: var(--clr-card-background);
  color: var(--clr-input-text);
  padding: 2rem 0;
  width: 100%;
  border-radius: 1rem;
}

.search-input::placeholder {
  font-weight: 600;
}

i {
  color: var(--clr-text);
  font-size: 1.8rem;
}

/* FILTER  */

.custom-select {
  position: relative;
}

select {
  background: var(--clr-card-background);
  padding: 2rem 4rem;
  border-radius: 0.5rem;
  color: var(--clr-text);
}

/* Cards  */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 5rem;
}

.card {
  display: inline-block;
  background: var(--clr-card-background);
  border-radius: 0.5rem;
  border: 1px solid white;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.card img {
  border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {
  /* search filter container  */

  .search-filter-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
